name: check_code_quality
on: 
  pull_request: 
  workflow_dispatch:

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v7 

      - run: uv sync --locked --dev
      - run: uv run ruff check .
      - run: uv run pylint app.py


